/* http://chir.ag/projects/name-that-color/ */

.transition(@val) {
    transition: @val;
    -webkit-transition: @val;
    -moz-transition: @val;
    -ms-transition: @val;
}


.animation(@val) {
    animation: @val;
    -webkit-animation: @val;
    -moz-animation: @val;
    -ms-animation: @val;
}

.border-radius(@val) {
    border-radius: @val;
    -webkit-border-radius: @val;
    -moz-border-radius: @val;
    -ms-border-radius: @val;
}

@keyframes blink {
    0%, 49% { background: fade(#fff, 0%); }
    50%, 100% { background: fade(#fff, 80%); }
}
@-webkit-keyframes blink {
    0%, 49% { background: fade(#fff, 0%); }
    50%, 100% { background: fade(#fff, 80%); }
}
@-moz-keyframes blink {
    0%, 49% { background: fade(#fff, 0%); }
    50%, 100% { background: fade(#fff, 80%); }
}


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


body {
    font-family: "Droid Sans", helvetica;
    font-weight: 300;
    line-height: 1.5;
    color: #00587c;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}


@keyframes show  {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes show  {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes show  {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
