@headerHeight: 107px;

html.no-touch {
    body {
        margin-top: @headerHeight - 1;
    }

    .header-menu.pure-menu.pure-menu-open  {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}


.header-menu.pure-menu.pure-menu-open  {
    height: @headerHeight;

    border-bottom: 1px solid #b3cdd8;

    background: #ecf8fa;

    text-align: center;
}


.header-menu .pure-menu-heading {
    padding: 15px;

    img {
        height: 50px;
    }

    p {
        height: 20px;
        margin: 0;
    }
}


.sticky-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    padding: 15px;

    border-top: 1px solid #b3cdd8;

    background: fade(#ecf8fa, 95%);

    text-align: center;

    .animation(show 0.6s 3s both);

    p {
        float: none;
        display: inline-block;
        margin: 0;
        margin-right: 15px;

        span {
            padding: 2px 10px;

            border-radius: 2px;

            background: fade(#00e17d, 30%);
        }
    }
}


.container-wrapper {
    float: left;
    width: 100%;
    padding: 8.5em 0;

    border-bottom: 1px solid #b3cdd8;
}


.container {
    margin: 0 auto;
    max-width: 960px;

    img {
        display: block;
    }
}


.teaser-wrapper {
    float: left;
    width: 100%;
    padding: 6em 0;

    background: #00b6d6;

    color: #fff;
    text-align: center;
}


.customers {
    img {
        display: block;
        width: 80%;
        margin: 10%;
    }
}


.map {
    width: 100%;
}


.map-marker {
    padding: 15px;

    h1 {
        float: left;
        margin: 0;
        margin-bottom: 8px;

        font-size: 18px;
    }
}
