.header {
    display: table;
    width: 100%;
    background: #00afce;

    color: #fff;

    & > div {
        display: table-row;

        & > div {
            display: table-cell;
            vertical-align: middle;
        }
    }

    img {
        display: block;
        width: 250px;
    }

    img, h1, p {
        margin: 0 auto;

        text-align: center;
    }

    h1 {
        text-transform: uppercase;
    }

    p {
        font-style: italic;
    }
}


.navigation {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 10000;

    text-align: right;

    a {
        display: block;
        padding: 8px 16px;

        color: #00afce;
        text-decoration: none;
        line-height: 1;

        .transition(all 0.3s);
    }

    li.s-is-selected {
        font-size: 30px;
    }
}


.portfolio {
    & > div {
        height: 20em;

        border: 1px solid #e5e5e3;
        border-right: none;
        border-top: none;
    }
}










.map {
    width: 100%;
}


.map-marker {
    padding: 15px;

    h1 {
        float: left;
        margin: 0;
        margin-bottom: 8px;

        font-size: 18px;
    }
}
