<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pure Labs</title>

        <meta property="og:title" content="Pure Labs">
        <meta property="og:description" content="Pure Labs">
        <meta property="og:url" content="http://purelabs.de">
        <meta property="og:image" content="http://purelabs.de/images/logo.jpg">

        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
        <meta name="description" content="Pure Labs" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:200,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/build.css" type="text/css" media="screen">

        <script src="/js/lib/modernizr.custom.js"></script>
        <script src="/js/lib/jquery.js"></script>
        <script src="/js/src/app.js"></script>
    </head>
    <body>
        <header id="header" class="header-menu pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="#">
                <img src="/images/pl-logo.png" alt="Pure Labs Logo" id="header-logo">
                <p id="header-name">Pure Labs</p>
            </a>
        </header>

        <div class="teaser-wrapper">
            <div class="container">
                <h1>We build interfaces for <em>people</em>.</h1>
                <p>
                    We are a young team of designers and developers creating <em>first class</em> web applications.
                </p>
            </div>
        </div>

        <div class="container-wrapper customers">
            <div class="container">
                <h2>Companies who <em>trust</em> and <em>believe</em> us.</h2>
                <div class="pure-g-r">
                    <div class="pure-u-1-4">
                        <img src="/images/customers/klangfeld.png" alt="Klangfeld">
                    </div>
                    <div class="pure-u-1-4">
                        <img src="/images/customers/slomski-zahntechnik.png" alt="Slomski Zahntechnik">
                    </div>
                    <div class="pure-u-1-4">
                        <img src="/images/customers/catenate.png" alt="catenate">
                    </div>
                    <div class="pure-u-1-4">
                        <img src="/images/customers/m2m-consulting.png" alt="m2m Consulting">
                    </div>
                    <div class="pure-u-1-4">
                        <img src="/images/customers/onlulu.png" alt="onlulu">
                    </div>
                    <div class="pure-u-1-4">
                        <img src="/images/customers/uxebu.png" alt="uxebu">
                    </div>
                    <div class="pure-u-1-4">
                        <img src="/images/customers/connected-ventures.png" alt="connected ventures">
                    </div>
                    <div class="pure-u-1-4">
                        <img src="/images/customers/more.png" alt="and more...">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-wrapper">
            <div class="container">
                <div class="pure-g-r">
                    <div class="pure-u-1-2">
                        <h1>Who we are</h1>
                        <p>
                            Pure Labs is a young team working on cutting edge technologies in today's IT industry.
                            We develop with great care and real love for attention to detail, so we create brilliant
                            web application that help businesses to thrive and function better.
                        </p>
                    </div>
                    <div class="pure-u-1-2">
                        <img src="/images/light-idea.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-wrapper s-no-bottom-padding">
            <div class="container">
                <div class="pure-g-r">
                    <div class="pure-u-1-2">
                        <img src="/images/browser.png" alt="">
                    </div>
                    <div class="pure-u-1-2">
                        <h1>What we can offer</h1>
                        <p>
                            Pure Labs is a young team working on cutting edge technologies in today's IT industry.
                            We develop with great care and real love for attention to detail, so we create brilliant
                            web application that help businesses to thrive and function better.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-wrapper">
            <div class="container">
                <div class="pure-g-r">
                    <div class="pure-u-1-2">
                        <h1>How we work</h1>
                        <p>
                            Usually we don't work at all, we just outsource your shit to india.
                            <br>
                            We promise: Our indian coworkers don't care about your product at all as we do.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% include map.html %}

        <div class="sticky-bar">
            <p>We are currently <span>accepting</span> new clients!</p> <a class="pure-button pure-button-secondary" href="mailto:hello@purelabs.de">Get in contact</a>
        </div>
    </body>
</html>
